<!DOCTYPE html>
<html>
<head>
    <title>pusher-client</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/socket.io.min.js"></script>
    <script type="text/javascript" src="../js/nw-desktop-notifications.js"></script>

    <script type="text/javascript" src="../js/LoginViewController.js"></script>
    <script type="text/javascript" src="../js/PusherClient.js"></script>
    <link href="../css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body style="-webkit-app-region: drag">
<div id="login-form">

    <h3>Pusher Login</h3>

    <fieldset>

        <form action="javascript:void(0);" method="get">

            <input type="text" id="user_id" value=""> <!-- JS because of IE support; better: placeholder="Email" -->

            <input type="password" id="user_password" value=""> <!-- JS because of IE support; better: placeholder="Password" -->

            <input type="submit" value="Login" id="_btn_sign_in">

            <footer class="clearfix">

                <p><span class="info">?</span><a href="#">What is this?</a></p>

            </footer>

        </form>

    </fieldset>

</div> <!-- end login-form -->
<script>
    new LoginView();
</script>
</body>
</html>