<!DOCTYPE html>
<html>
<head>
    <title>pusher-client</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/socket.io.min.js"></script>
    <script type="text/javascript" src="../js/underscore.js"></script>
    <!--<script type="text/javascript" src="../js/nw-desktop-notifications.js"></script>-->

    <script type="text/javascript" src="../js/LoginViewController.js"></script>
    <script type="text/javascript" src="../js/PusherClient.js"></script>

    <script type="text/javascript" src="../js/pusher-notify/NotificationManager.js"></script>
    <script type="text/javascript" src="../js/pusher-notify/models/SimpleNotificationModel.js"></script>
    <script type="text/javascript" src="../js/pusher-notify/views/SimpleNotificationView.js"></script>

    <link href="../css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body style="-webkit-app-region: drag">
<div id="login-form">

    <h3>Pusher Login</h3>

    <fieldset>

        <form action="javascript:void(0);" method="get">

            <input type="text" id="user_id" value="" placeholder="Input User Id"> <!-- JS because of IE support; better: placeholder="Email" -->

            <input type="password" id="user_password" value="" placeholder="Input User Password"> <!-- JS because of IE support; better: placeholder="Password" -->

            <input type="submit" value="Login" id="_btn_sign_in">

            <footer class="clearfix">

                <p><span class="info">?</span><a href="#">What is this?</a></p>

            </footer>

        </form>

    </fieldset>
    <div class="wrap_close">
        <a href="#" class="close" id="_btn_close" >X</a>
    </div>

</div> <!-- end login-form -->
<script>
    new LoginView();
</script>
</body>
</html>