<!DOCTYPE html>
<html>
<head>
    <title>pusher-client</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/socket.io.min.js"></script>
    <script type="text/javascript" src="../js/nw-desktop-notifications.js"></script>

    <script type="text/javascript" src="../js/LoginViewController.js"></script>
    <script type="text/javascript" src="../js/PusherClient.js"></script>
</head>
<body>
<section id="msg-intro">
    <section id="msg-login">
        <div class="msg-login">
            <div class="bx_login">
                <!-- [D] label.msg-txt > input[type=text] 에 focus 시 .msg-ph 에 msg-blind 추가 -->
                <label class="msg-txt t2">
                    <span class="msg-ph">아이디</span>
                    <input type="text" id="user_id" value="">
                </label>
                <br>
                <label class="msg-txt t2">
                    <span class="msg-ph">비밀번호</span>
                    <input type="password" id="user_password" value="">
                </label>
                <button type="submit" class="msg-btn" id="_btn_sign_in">로그인</button>
            </div>
        </div>
    </section>
</section>
<script>
    new LoginView();
</script>
</body>
</html>